<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><h1>Hopper</h1>
    <p>Edward Hopper fue un pintor estadounidense, célebre sobre todo por sus retratos de la soledad en la vida estadounidense contemporánea. Se le considera uno de los pintores de la escuela Ashcan, que a través de Arshile Gorky llevó al expresionismo abstracto posterior a la Segunda Guerra Mundial.</p>
    <img width="400" src="/public/img/hopper.jpg" alt=""><hr>
    <a href="index.html">Volver</a>
</body>
</html>